{% extends "base.html" %} 
{% block content %} 

<h1>Iniciar Sesión</h1>

{% if form.errors %} 
	<p>Usuario o contraseña incorrecta</p> 
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
		<p>
		Su usuario no tiene los permisos requeridos 
		para acceder a esta página.  Contacte a su 
		administrador
		</p>
	{% else %}
		<p>Favor ingrese su usuario y contraseña</p>
	{% endif %}
{% endif %}

<div class="col-sm-5 col-md-5 col-lg-5">

<form method="post" action="{% url 'login' %}"> 
	{% csrf_token %} 
	<table class="table table-striped table-hover table-condensed">
		<tr>
			<td>Usuario</td>
			<td>
				{{ form.username }}
			</td>
		</tr>
		<tr>
			<td>Contraseña</td>
			<td>
				{{ form.password }}
			</td>
		</tr>
	</table>
	<input type="submit" value="Iniciar Sesión" /> 
	<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Olvidó su contraseña?</a></p>

</div>

{% endblock %}
