{% extends "base.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block extrahead %}       {# Extra Resources Start #}
{{ form.media }}            {# Form required JS and CSS #}
{% endblock %}              {# Extra Resources End #}


{% block title %}
	{% if object %}
		Actualizar Datos
	{% else %}
		Registrar Miembro del Equipo
	{% endif %}
{% endblock %}

{% block content %}

	<div class="row"><div class="col-sm-12">
		<h1>
			{% if object %}
				Actualizar Datos
			{% else %}
				Registrar Miembro del Equipo
			{% endif %}
		</h1>
	</div></div>

	<div class="row">
		<div class="col-sm-6">
			<form action="" method="post" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save fa-fw"></i>
							{% if object %}
								Grabar Cambios
							{% else %}
								Agregar Miembro
							{% endif %}
					</button>
				{% endbuttons %}
			</form>
		</div>
	</div>

{% endblock %}

{% block domready %}

$("#id_nombre").focus();

{% endblock %}