{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Miembros Reistrados
{% endblock %}

{% block app_css %}
{% endblock app_css %}

{% block content %}

	<div id="app_header">
		<h1>Miembros del Equipo</h1>
	</div>

	<a href="{% url 'miembros:add' %}" class="button btn btn-outline-primary btn-sm">
		<i class="fas fa-user-plus fa-fw"></i>
		Nuevo Miembro
	</a>

	<!--
	<a href="{% url 'miembros:carga' %}" class="button btn btn-outline-primary btn-sm">
		<i class="fas fa-user-plus fa-fw"></i>
		Carga Inicial
	</a>
	-->

	<table class="table table-sm table-striped table-hover table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Fecha Nac.</th>
				<th>Cuenta</th>
				<th>Banco</th>
				<th>Fecha Ing.</th>
				<th>Usuario</th>
			</tr>
		</thead>
		<tbody>
			{% for item in object_list %}
					<td>
						<a href="{% url 'miembros:edit' item.id %}">
							{{ item.nombre }}
						</a>
					</td>
					<td>{{ item.email }}</td>

					<td>
						{% if item.fecha_nac %}
							{{ item.fecha_nac }}
						{% endif %}
					</td>

					<td>{{ item.cuenta }}</td>
					<td>{{ item.banco.nombre }}</td>

					<td>
						{% if item.fecha_ing %}
							{{ item.fecha_ing }}
						{% endif %}
					</td>

					<td>{{ item.user.username }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block domready %}

{% endblock %}

{% block javascript %}
{% endblock javascript %}
